Repository Bobbyberu/playground-app, pull requests merged in 2019-01, with the labels that each got.

#6 Web/searchbar
  playground-web/package-lock.json
  playground-web/package.json
  playground-web/public/playgrounds.json
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/pages/home/components/searchbar/searchbar.css
  playground-web/src/pages/home/components/searchbar/searchbar.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/sign-in/sign-in.js
  playground-web/src/services/playground-api.js
Labels: web

#7 Web/home playgrounds
  playground-web/package-lock.json
  playground-web/package.json
  playground-web/public/playgrounds.json
  playground-web/src/assets/img/playgroundMarker.png
  playground-web/src/pages/home/components/searchbar.css
  playground-web/src/pages/home/components/searchbar.js
  playground-web/src/pages/home/home.js
Labels: web

#12 Web/sign up page
  playground-web/package-lock.json
  playground-web/package.json
  playground-web/src/App.css
  playground-web/src/assets/img/playground.jpg
  playground-web/src/pages/sign-up/sign-up.css
  playground-web/src/pages/sign-up/sign-up.js
Labels: web

#16 building login page
  playground-web/src/App.css
  playground-web/src/AppRouter.js
  playground-web/src/pages/home/components/searchbar.css
  playground-web/src/pages/home/components/searchbar.js
  playground-web/src/pages/home/components/searchbar/searchbar.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/login/login.css
  playground-web/src/pages/login/login.js
  playground-web/src/pages/sign-in/sign-in.js
  playground-web/src/pages/sign-up/sign-up.js
Labels: web

#21 JWT management (auto login)
  mobile/lib/controllers/AuthController.dart
  mobile/lib/controllers/CommonController.dart
  mobile/lib/main.dart
  mobile/lib/pages/ProfilePage.dart
  mobile/lib/pages/StartPage.dart
  mobile/lib/services/AuthService.dart
  mobile/lib/services/TokenManager.dart
  mobile/pubspec.yaml
Labels: mobile

#33 login with token
  playground-web/package-lock.json
  playground-web/package.json
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/login/login.js
  playground-web/src/services/auth.js
Labels: web

#37 Mobile/playground comments
  mobile/lib/controllers/CommentController.dart
  mobile/lib/controllers/PlaygroundController.dart
  mobile/lib/controllers/SignalCommentController.dart
  mobile/lib/entities/Comment.dart
  mobile/lib/entities/SignalComment.dart
  mobile/lib/entities/User.dart
  mobile/lib/pages/AddPlaygroundCommentPage.dart
  mobile/lib/pages/PlaygroundCommentPage.dart
  mobile/lib/pages/PlaygroundDetails.dart
  mobile/lib/pages/SignalCommentPage.dart
  mobile/lib/services/CommentService.dart
  mobile/lib/services/PlaygroundService.dart
  mobile/lib/services/SignalCommentService.dart
  mobile/lib/widgets/playground/CommentCard.dart
  mobile/lib/widgets/playground/CommentStars.dart
  mobile/lib/widgets/playground/PlaygroundMarkSelector.dart
  mobile/lib/widgets/user/UserAvatarCircle.dart
  spring/src/main/java/com/playground/controllers/PlaygroundController.java
  spring/src/main/java/com/playground/repository/CommentRepository.java
  spring/src/main/java/com/playground/service/CommentService.java
Labels: mobile

#31 Web/details
  playground-web/package-lock.json
  playground-web/src/pages/home/add-playground/button-add.js
  playground-web/src/pages/home/add-playground/modal-playground.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/playground-details/playground-details.js
  playground-web/src/store/configureStore.js
  playground-web/src/store/reducers/favoriteReducer.js
  playground-web/src/store/reducers/modalReducer.js
Labels: web

#35 Web/link to back
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/common-components/snackbar/SnackbarContentWrapper.js
  playground-web/src/pages/home/components/searchbar/searchbar.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/sign-up/sign-up.js
  playground-web/src/services/auth.js
  playground-web/src/services/playground-api.js
  spring/src/main/java/com/playground/config/WebSecurityConfig.java
  spring/src/main/java/com/playground/security/CorsFilter.java
  spring/src/main/java/com/playground/security/JWTAuthenticationFilter.java
  spring/src/main/java/com/playground/security/JWTLoginFilter.java
Labels: back, web

#44 ReportPlayground and ReportComments Service
  spring/apidoc/CommentController.md
  spring/apidoc/ReportCommentController.md
  spring/apidoc/ReportPlaygroundController.md
  spring/src/main/java/com/playground/controllers/CommentController.java
  spring/src/main/java/com/playground/controllers/ReportCommentController.java
  spring/src/main/java/com/playground/controllers/ReportPlaygroundController.java
  spring/src/main/java/com/playground/controllers/SignalCommentController.java
  spring/src/main/java/com/playground/controllers/SignalPlaygroundController.java
  spring/src/main/java/com/playground/model/ReportComment.java
  spring/src/main/java/com/playground/model/ReportPlayground.java
  spring/src/main/java/com/playground/repository/ReportCommentRepository.java
  spring/src/main/java/com/playground/repository/ReportPlaygroundRepository.java
  spring/src/main/java/com/playground/repository/SignalCommentRepository.java
  spring/src/main/java/com/playground/repository/SignalPlaygroundRepository.java
  spring/src/main/java/com/playground/service/ReportCommentService.java
  spring/src/main/java/com/playground/service/ReportPlaygroundService.java
  spring/src/main/java/com/playground/service/interfaces/IReportCommentService.java
  spring/src/main/java/com/playground/service/interfaces/IReportPlaygroundService.java
  spring/src/main/java/com/playground/service/interfaces/ISignalCommentService.java
  spring/src/main/java/com/playground/service/interfaces/ISignalPlaygroundService.java
Labels: back

#42 Web/playground details page
  playground-web/public/comments.json
  playground-web/public/playgrounds.1.json
  playground-web/public/playgrounds.7.json
  playground-web/src/App.css
  playground-web/src/AppRouter.js
  playground-web/src/assets/img/default_avatar.png
  playground-web/src/assets/img/default_playground.png
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/index.js
  playground-web/src/pages/404/NotFound.js
  playground-web/src/pages/home/add-playground/button-add.js
  playground-web/src/pages/home/add-playground/modal-playground.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/login/login.js
  playground-web/src/pages/playground-details/playground-details.js
  playground-web/src/pages/playground-new/playground-new.js
  playground-web/src/pages/playground/Playground.js
  playground-web/src/pages/playground/components/ReportPlaygroundModal.js
  playground-web/src/pages/playground/components/StarRating.js
  playground-web/src/pages/playground/components/Timetable.js
  playground-web/src/pages/playground/components/comments/AddCommentModal.js
  playground-web/src/pages/playground/components/comments/Comment.js
  playground-web/src/pages/playground/components/comments/CommentSection.js
  playground-web/src/pages/playground/components/comments/ReportCommentModal.js
  playground-web/src/pages/playground/playground.css
  playground-web/src/pages/sign-up/sign-up.js
  playground-web/src/services/auth.js
  playground-web/src/services/playground-api.js
  playground-web/src/store/reducers/modalReducer.js
Labels: web

#48 image upload + email authent quick fix
  playground-web/src/AppRouter.js
  playground-web/src/pages/login/login.js
  playground-web/src/pages/test.js
  playground-web/src/services/auth.js
  playground-web/src/services/playground-api.js
  spring/apidoc/PlaygroundController.md
  spring/apidoc/UserController.md
  spring/pom.xml
  spring/src/main/java/com/playground/PlaygroundApplication.java
  spring/src/main/java/com/playground/config/WebSecurityConfig.java
  spring/src/main/java/com/playground/controllers/PlaygroundController.java
  spring/src/main/java/com/playground/controllers/UserController.java
  spring/src/main/java/com/playground/model/Playground.java
  spring/src/main/java/com/playground/model/User.java
  spring/src/main/java/com/playground/service/TokenAuthenticationService.java
  spring/src/main/java/com/playground/service/UserService.java
  spring/src/main/java/com/playground/service/interfaces/IUserService.java
  spring/src/main/java/com/playground/storage/FileSystemStorageService.java
  spring/src/main/java/com/playground/storage/StorageException.java
  spring/src/main/java/com/playground/storage/StorageFileNotFoundException.java
  spring/src/main/java/com/playground/storage/StorageProperties.java
  spring/src/main/java/com/playground/storage/StorageService.java
  spring/src/main/resources/application.properties
Labels: back, web

#47 [Back] Added the possibility to permit url only to some roles
  spring/src/main/java/com/playground/config/WebSecurityConfig.java
  spring/src/main/java/com/playground/controllers/ImageController.java
  spring/src/main/java/com/playground/controllers/ScheduleController.java
  spring/src/main/java/com/playground/controllers/UserController.java
  spring/src/main/java/com/playground/controllers/VerificationTokenController.java
  spring/src/main/java/com/playground/model/Image.java
  spring/src/main/java/com/playground/model/Role.java
  spring/src/main/java/com/playground/model/User.java
  spring/src/main/java/com/playground/repository/ImageRepository.java
  spring/src/main/java/com/playground/security/JWTAuthenticationFilter.java
  spring/src/main/java/com/playground/security/JWTLoginFilter.java
  spring/src/main/java/com/playground/service/IUserService.java
  spring/src/main/java/com/playground/service/TokenAuthenticationService.java
  spring/src/main/java/com/playground/service/UserDetailsServiceImpl.java
  spring/src/main/java/com/playground/service/UserService.java
  spring/src/main/java/com/playground/service/interfaces/IUserService.java
Labels: back

#50 Mobile/update profile
  mobile/lib/controllers/AuthController.dart
  mobile/lib/controllers/CommentController.dart
  mobile/lib/controllers/ReportCommentController.dart
  mobile/lib/controllers/ReportPlaygroundController.dart
  mobile/lib/controllers/SignalCommentController.dart
  mobile/lib/controllers/SignalPlaygroundController.dart
  mobile/lib/controllers/UserController.dart
  mobile/lib/entities/ReportComment.dart
  mobile/lib/entities/ReportPlayground.dart
  mobile/lib/main.dart
  mobile/lib/pages/LoginPage.dart
  mobile/lib/pages/PlaygroundDetails.dart
  mobile/lib/pages/ProfilePage.dart
  mobile/lib/pages/ReportPlaygroundPage.dart
  mobile/lib/pages/SignalCommentPage.dart
  mobile/lib/pages/UpdateProfilePage.dart
  mobile/lib/services/AuthService.dart
  mobile/lib/services/CommentService.dart
  mobile/lib/services/LocationService.dart
  mobile/lib/services/ReportCommentService.dart
  mobile/lib/services/ReportPlaygroundService.dart
  mobile/lib/services/SessionManager.dart
  mobile/lib/services/SignalPlaygroundService.dart
  mobile/lib/services/UserService.dart
  mobile/lib/widgets/dialog/PlaygroundDialog.dart
  mobile/lib/widgets/inputs/PlaygroundButton.dart
  spring/apidoc/UserController.md
  spring/src/main/java/com/playground/controllers/UserController.java
  spring/src/main/java/com/playground/model/User.java
  spring/src/main/java/com/playground/security/JWTLoginFilter.java
  spring/src/main/java/com/playground/service/UserService.java
  spring/src/main/java/com/playground/service/interfaces/IUserService.java
  spring/src/main/resources/application.properties
Labels: mobile

#52 Web/report favorite
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/pages/home/add-playground/Sports.js
  playground-web/src/pages/home/components/searchbar/searchbar.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/login/login.js
  playground-web/src/pages/playground-details/playground-details.js
  playground-web/src/pages/playground/Playground.js
  playground-web/src/pages/playground/components/ReportPlaygroundModal.js
  playground-web/src/pages/playground/components/comments/AddCommentModal.js
  playground-web/src/pages/playground/components/comments/CommentSection.js
  playground-web/src/pages/playground/components/comments/ReportCommentModal.js
  playground-web/src/pages/sign-up/sign-up.js
  playground-web/src/pages/test.js
  playground-web/src/services/auth.js
  playground-web/src/services/playground-api.js
  playground-web/src/store/configureStore.js
  playground-web/src/store/reducers/favoriteReducer.js
  spring/src/main/java/com/playground/controllers/ReportCommentController.java
  spring/src/main/java/com/playground/controllers/ReportPlaygroundController.java
  spring/src/main/java/com/playground/model/User.java
Labels: back, web

#56 admin mode on playground actions
  playground-web/src/pages/playground-details/playground-details.js
  playground-web/src/pages/playground/Playground.js
  playground-web/src/pages/playground/components/comments/Comment.js
  playground-web/src/pages/playground/components/comments/CommentSection.js
  playground-web/src/services/auth.js
  playground-web/src/services/playground-api.js
  spring/apidoc/CommentController.md
  spring/src/main/java/com/playground/controllers/CommentController.java
Labels: web

#60 Web/back details add
  playground-web/package-lock.json
  playground-web/src/App.js
  playground-web/src/pages/home/add-playground/Acces.js
  playground-web/src/pages/home/add-playground/Description.js
  playground-web/src/pages/home/add-playground/Localisation.js
  playground-web/src/pages/home/add-playground/Progress.js
  playground-web/src/pages/home/add-playground/Sports.js
  playground-web/src/pages/home/add-playground/Stepper.js
  playground-web/src/pages/home/add-playground/Upload.css
  playground-web/src/pages/home/add-playground/Upload.js
  playground-web/src/pages/home/add-playground/modal-playground.js
  playground-web/src/pages/home/home.js
  playground-web/src/pages/playground-details/playground-details.js
  playground-web/src/pages/playground/Playground.js
  playground-web/src/pages/test.js
  playground-web/src/services/nominatimAPI.js
  playground-web/src/services/playground-api.js
  playground-web/src/store/configureStore.js
  playground-web/src/store/reducers/playgroundReducer.js
  spring/src/main/java/com/playground/config/WebSecurityConfig.java
  spring/src/main/java/com/playground/model/User.java
Labels: web

#62 Display players on playground and set on which playground a user play
  mobile/lib/controllers/PlaygroundController.dart
  mobile/lib/controllers/ReportCommentController.dart
  mobile/lib/entities/User.dart
  mobile/lib/entities/User.g.dart
  mobile/lib/pages/LoginPage.dart
  mobile/lib/pages/PlaygroundDetails.dart
  mobile/lib/pages/SignUpPage.dart
  mobile/lib/services/PlaygroundService.dart
  mobile/lib/widgets/dialog/PlaygroundDialog.dart
  mobile/lib/widgets/playground/CommentCard.dart
  mobile/lib/widgets/sport/UniqueSportSelection.dart
  mobile/lib/widgets/user/UserSummary.dart
Labels: mobile

#63 [TEST] add and remove a player to a playground
  spring/src/test/java/com/playground/controllers/PlaygroundControllerTest.java
Labels: back

#64 build admin report pages
  playground-web/src/AppRouter.js
  playground-web/src/assets/img/logo_full.png
  playground-web/src/common-components/nav-bar/nav-bar.js
  playground-web/src/common-components/snackbar/SnackbarContentWrapper.js
  playground-web/src/pages/admin/CommentReports.js
  playground-web/src/pages/admin/PlaygroundReports.js
  playground-web/src/pages/playground/Playground.js
  playground-web/src/pages/playground/playground.css
  playground-web/src/services/playground-api.js
  spring/apidoc/ReportCommentController.md
  spring/apidoc/ReportPlaygroundController.md
  spring/src/main/java/com/playground/controllers/ReportCommentController.java
  spring/src/main/java/com/playground/controllers/ReportPlaygroundController.java
  spring/src/main/java/com/playground/model/User.java
  spring/src/main/resources/application.properties
Labels: web

#67 Add default images in resources directory
  mobile/images/default_avatar.png
  mobile/lib/entities/User.dart
  spring/src/main/java/com/playground/controllers/PlaygroundController.java
  spring/src/main/java/com/playground/controllers/UserController.java
  spring/src/main/java/com/playground/storage/FileSystemStorageService.java
  spring/src/main/java/com/playground/storage/StorageService.java
  spring/src/main/resources/img/default_avatar
  spring/src/main/resources/img/default_playground
Labels: back

#68 CommentResponse : send only useful information with api
  spring/apidoc/CommentController.md
  spring/pom.xml
  spring/src/main/java/com/playground/controllers/CommentController.java
  spring/src/main/java/com/playground/controllers/PlaygroundController.java
  spring/src/main/java/com/playground/controllers/ReportCommentController.java
  spring/src/main/java/com/playground/controllers/ReportPlaygroundController.java
  spring/src/main/java/com/playground/controllers/RoleController.java
  spring/src/main/java/com/playground/controllers/ScheduleController.java
  spring/src/main/java/com/playground/controllers/SessionController.java
  spring/src/main/java/com/playground/controllers/SportController.java
  spring/src/main/java/com/playground/controllers/UserController.java
  spring/src/main/java/com/playground/controllers/VerificationTokenController.java
  spring/src/main/java/com/playground/model/entity/Comment.java
  spring/src/main/java/com/playground/model/entity/Playground.java
  spring/src/main/java/com/playground/model/entity/ReportComment.java
  spring/src/main/java/com/playground/model/entity/ReportPlayground.java
  spring/src/main/java/com/playground/model/entity/Role.java
  spring/src/main/java/com/playground/model/entity/Schedule.java
  spring/src/main/java/com/playground/model/entity/Session.java
  spring/src/main/java/com/playground/model/entity/Sport.java
  spring/src/main/java/com/playground/model/entity/User.java
  spring/src/main/java/com/playground/model/entity/VerificationToken.java
  spring/src/main/java/com/playground/model/response/CommentDto.java
  spring/src/main/java/com/playground/repository/CommentRepository.java
  spring/src/main/java/com/playground/repository/PlaygroundRepository.java
  spring/src/main/java/com/playground/repository/ReportCommentRepository.java
  spring/src/main/java/com/playground/repository/ReportPlaygroundRepository.java
  spring/src/main/java/com/playground/repository/RoleRepository.java
  spring/src/main/java/com/playground/repository/ScheduleRepository.java
  spring/src/main/java/com/playground/repository/SessionRepository.java
  spring/src/main/java/com/playground/repository/SportRepository.java
  spring/src/main/java/com/playground/repository/UserRepository.java
  spring/src/main/java/com/playground/repository/VerificationTokenRepository.java
  spring/src/main/java/com/playground/security/JWTLoginFilter.java
  spring/src/main/java/com/playground/service/CommentService.java
  spring/src/main/java/com/playground/service/PlaygroundService.java
  spring/src/main/java/com/playground/service/ReportCommentService.java
  spring/src/main/java/com/playground/service/ReportPlaygroundService.java
  spring/src/main/java/com/playground/service/RoleService.java
  spring/src/main/java/com/playground/service/ScheduleService.java
  spring/src/main/java/com/playground/service/SessionService.java
  spring/src/main/java/com/playground/service/SportService.java
  spring/src/main/java/com/playground/service/TokenAuthenticationService.java
  spring/src/main/java/com/playground/service/UserDetailsServiceImpl.java
  spring/src/main/java/com/playground/service/UserService.java
  spring/src/main/java/com/playground/service/interfaces/ICommentService.java
  spring/src/main/java/com/playground/service/interfaces/IPlaygroundService.java
  spring/src/main/java/com/playground/service/interfaces/IReportCommentService.java
  spring/src/main/java/com/playground/service/interfaces/IReportPlaygroundService.java
  spring/src/main/java/com/playground/service/interfaces/IRoleService.java
  spring/src/main/java/com/playground/service/interfaces/IScheduleService.java
  spring/src/main/java/com/playground/service/interfaces/ISessionService.java
  spring/src/main/java/com/playground/service/interfaces/ISportService.java
  spring/src/main/java/com/playground/service/interfaces/IUserService.java
  spring/src/test/java/com/playground/controllers/CommentControllerTest.java
  spring/src/test/java/com/playground/controllers/PlaygroundControllerTest.java
  spring/src/test/java/com/playground/controllers/ReportCommentControllerTest.java
  spring/src/test/java/com/playground/controllers/ReportPlaygroundControllerTest.java
  spring/src/test/java/com/playground/controllers/RoleControllerTest.java
  spring/src/test/java/com/playground/controllers/SportControllerTest.java
Labels: back
